* {
  box-sizing: border-box;
  /* padding을 포함한 가로 길이를 100%로 정한다. */
}
body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 95%;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  min-height: 60px;
  border-bottom: 1px solid #dddddd;
  padding: 0 20px;
}

.header2 {
  margin-top: 5px;
}

.contents {
  flex: auto;
  /* 남은 공간을 다 채워라 */
  width: 100%;
  overflow-y: auto;
  background-color: #f7f7f7;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  min-height: 60px;
  border-top: 1px solid #dddddd;
  padding: 0 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  margin-bottom: 20px;
}

.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
}

.card_header_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card_header_profile .profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #dddddd;
}

.card_header_username {
  margin: 0 0 5px 10px;
  font-weight: bold;
}

.card_photo {
  width: 100%;
}

.card_photo .main_photo {
  width: 100%;
  height: 100%;
}

.card_contents {
  width: 100%;
  height: 60px;
  padding: 20px;
}